.post_title
        {
          font-size: 30px;
          font-weight: bold;
          text-align: center;
          padding: 30px;
          color: white;

        }
        .div_center
        {
          text-align: center;
          padding: 30px;
        }
        label
        {
          display: inline-block;
          width: 200px;
        }