.title_deg
        {
            font-size: 30px;
            font-weight: bold;
            color: white;
            padding: 30px;
            text-align: center;

        
        }
        .table_deg
        {
            border: 1px solid white;
            width: 80%;
            text-align: center;
            margin-left: 70px;
        }
        .th_deg
        {
            background-color: skyblue;
        }
        .img_deg
        {
            height: 100px;
            width: 150px;
            padding: 10px;
        }
        .des_deg
        {
          padding: 10px;
        }